#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  border-radius: 50%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}

.error-banner {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  background: lightpink;
  text-align: center;
  padding: 10px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  width: auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.list-item:hover {
  background: #e2e2e2;
}

input {
  height: 30px;
  border-radius: 5px;
  padding-inline-start: 10px;
}

.create-task-form {
  margin-bottom: 20px;
}

.tasks-listing-container {
  display: flex;
  gap: 10px;
}

.task-card {
  min-width: 200px;
  > ul {
    padding: 0px;
  }
  margin-bottom: 20px;
  > .task-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}